@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  /* --foreground: #17181e; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #161a1e; */
    --background: #17181e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
